.modal {
    position: relative;
    top: 21%;
    left: 79%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: #FFFFEB;
    border: 2px solid #203864;
    border-radius: 15px;
    overflow: auto;
}