.modal {
    position: relative;
    top: 22%;
    left: 50%;
    right: 72%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: #FFFFEB;
    border: 2px solid #203864;
    border-radius: 15px;
    overflow: auto;
}